#footer{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #84A59D;
}

#home-body{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 5rem;
}

#not-found-body{
  text-align: center;
  margin-bottom: 40px;
  background-color: #F7EDE2;
}

.cat{
  height: 14rem;
  border: 1px solid black;
  margin: 10px;
}

/* .navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%247, 237, 226 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */

/* .navbar-light .navbar-toggler{
  border: 1.5px solid #F7EDE2 !important;
} */


/* .jumbotron.jumbotron-fluid{
  background-color: #84A59D;
  color: #F7EDE2;
  padding: 1rem;
} */

a:link{
  color: #F7EDE2;
}

a:visited{
  color: #F7EDE2;
}

@media (max-width:480px) {
  img{
    margin: 10px;
    max-width: 90%;
  }
}
