#home-body{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  height: 80vh;
  background-color: #F7EDE2;
}

#not-found-body{
  text-align: center;
  margin-bottom: 40px;
  background-color: #F7EDE2;
}

#footer{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #84A59D;
}

/* Cat Images */
.cat{
  height: 14rem;
  border: 1px solid black;
  margin: 10px;
}

/* Header */
.jumbotron.jumbotron-fluid{
  background-color: #84A59D;
  color: #F7EDE2;
  padding: 1rem;
}

/* Hamburger Menu */
nav.navbar.navbar-light{
  text-align: right;
}

.navbar-light .navbar-toggler{
  border: 1.5px solid #F7EDE2 !important;
}

button.mr-2.navbar-toggler:hover{
  text-align: right;
  color: #F5CAC3 !important;
}

.navbar-nav .nav-link{
  color: #F7EDE2 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #F5CAC3 !important;
}


/* Links */
a:hover{
  color: #F5CAC3 !important;
}

a:visited{
  color: #F7EDE2;
}

/* Index Page */

a.btn.btn-secondary{
  background-color: #F28482;
  font-weight: bold;
  margin: 10px;
  padding: 30px;
  margin-bottom: 10rem;
  font-family: 'Grandstander', cursive;
}

#index-body{
  background-color: #F7EDE2;
  text-align: center;
}

#button-set{
  display: flex;
  justify-content: space-around;
}

/* Show Page */
#show-body{
  background-color: #F7EDE2;
}

#cat-card{
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
}

div.card{
  text-align: center;
  align-items: center;
  background-color: #F28482;
  font-family: 'Grandstander', cursive;
}

/* Phone Breakpoint */
@media (max-width:480px) {
  img{
    margin: 10px;
    max-width: 90%;
  }

  #index-body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  a.btn.btn-secondary{
    background-color: #F28482;
    font-weight: bold;
    margin: 10px;
    padding: 30px;
  }
}
